body {
  background-color: #3b91d3;
  color: #000;
}
h1 {
  color: #000;
}
.vertical-offset-100 {
  padding-top: 100px;
}
.padding-10 {
  padding: 10px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-left-0 {
  padding-left: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
/* Start Text classes */

.font-size-125 {
  font-size: 1.25rem;
}

.font-size-90 {
  font-size: .90rem;
}

/* End Text classes */
